.chessboard {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    background-image: url('./images/chess-board.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.cp {
    width: 12.5%;
    height: 12.5%;
    background-size: cover;
    position: absolute;
    z-index: 2;
}

.wp {
    background-image: url('./images/wp.webp');
}

.wb {
    background-image: url('./images/wb.webp');
}

.wq {
    background-image: url('./images/wq.webp');
}

.wk {
    background-image: url('./images/wk.webp');
}

.wn {
    background-image: url('./images/wn.webp');
}

.wr {
    background-image: url('./images/wr.webp');
}

.br {
    background-image: url('./images/br.webp');
}

.bn {
    background-image: url('./images/bn.webp');
}

.bb {
    background-image: url('./images/bb.webp');
}

.bq {
    background-image: url('./images/bq.webp');
}

.bk {
    background-image: url('./images/bk.webp');
}

.bp {
    background-image: url('./images/bp.webp');
}

.target-move {
    background-color: rgb(186, 202, 43);
    z-index: 1;
}

.check {
    background-color: red;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}