.chessboard {
    /*max-width: 480;
    max-height: 480;*/
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    background-image: url('./images/chess-board.webp');
    background-size: 100% 100%;

    background-repeat: no-repeat;
}

.square {

    /*width: 60px;
    height: 60px;*/
    width: 12.5%;
    height: 12.5%;
    background-image: url('./images/wp.webp');
    background-size: cover;
    position: absolute;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

